
/* price section */

.price-info{
    overflow:hidden;
    text-align: center;
 }
 .price-item{
    float: left;
    width: 30%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    height: 450px;
 
 
 }
 .price-item-text{
    color:var(--graycolor);
    text-transform: uppercase;
    font-size: 17px;
 
 }
 .price-item-circle{
    width: 130px;
    height: 130px;
    margin: 20px auto;
    border: 3px solid var(--maincolor);
    border-radius: 50%;
    padding: 30px 0px 40px 0px ;
 
 }
 .price-item ul{
    list-style: none;
 }
 .price-item ul li{
 color: var(--graycolor);
 line-height: 1.9;
 }
 
 .dolar{
    font-size:50px;
 }
 .month{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
 }
 
 .price-item-button{
 background:none;
 border: none;
 display:block;
 margin:15px auto 0px auto ;
 background-color: none;
 color: var(--maincolor);
 border:2px solid var(--maincolor);
 padding: 10px;
 width:140px;
 cursor:pointer;
 }
 
 .top-down{
    position: relative;
 }
 .top-down::after{
    position: absolute;
    content:"";
    width:100%;
    background:#333;
    height: 0;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: -1;
    transition: height 0.5s ;
 
 }
 
 .top-down:hover::after {
   height: 100%;
 }
 
 .top-down:hover .price-item-text{
 color: var(--maincolor);
 }
 .top-down:hover .price-item-circle{
    color: var(--white);
    }
 
 