.mg-b-5{
    margin-bottom: 5px;
}
.mg-b-10{
    margin-bottom: 10px;
}
.mg-b-15{
    margin-bottom: 15px;
}

.mg-b-20{
    margin-bottom: 20px;
}

.mg-b-30{
    margin-bottom: 30px;
}
.mg-b-50{
    margin-bottom: 50px;
}




.upper-case{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}



.float-left{
    float: left;
}
.overflow{
    overflow: hidden;
}

